# Apriori Examples

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

## Numerical example from the mlxtend website
https://rasbt.github.io/mlxtend/user_guide/preprocessing/TransactionEncoder/

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
model = TransactionEncoder()
encoded_results = model.fit(dataset).transform(dataset)
df = pd.DataFrame(encoded_results, columns=model.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [4]:
apriori(df, min_support=0.6)

    support   itemsets
0       0.8        (3)
1       1.0        (5)
2       0.6        (6)
3       0.6        (8)
4       0.6       (10)
5       0.8     (3, 5)
6       0.6     (8, 3)
7       0.6     (5, 6)
8       0.6     (8, 5)
9       0.6    (10, 5)
10      0.6  (8, 3, 5)

In [ ]:
apriori(df, min_support=0.6, use_colnames=True)

## Online Retail
http://archive.ics.uci.edu/ml/datasets/online+retail

In [ ]:
df = pd.read_excel('Online Retail.xlsx')
df['Quantity'] = 1
df = df.pivot_table(index='InvoiceNo', columns='Description', values='Quantity', aggfunc=min).fillna(0.0)

In [ ]:
apriori(df, min_support=0.02, use_colnames=True).sort_values('support', ascending=False)

## Market Basket Analysis
http://csci.viu.ca/~barskym/teaching/DM2012/labs/LAB7/PartII.html

In [ ]:
df = pd.read_csv('marketbasket.csv')
apriori(df, min_support=0.05, use_colnames=True).sort_values('support', ascending=False)